<footer style="position: absolute;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright &copy; Robust Rapid Rails. All rights reserved.</p>
        <div class="credits">
          Designed by <a href="https://sm-saas.herokuapp.com">3R</a>
        </div>
      </div>
    </div>
  </div>
</footer>